:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    width: 100vw;
    height: 100vh;
    
}
.book{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
header {
    padding: 0.2%;
    font-size: 40px;
    left: 0;
    padding-bottom: 5px;
    background: #333;
    color: #fff;
    padding-top: 0; 
    height: 150px;
    border-bottom: #0779e4 3px solid;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
header a {  
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
}
header ul {
    padding-bottom: 10px;
    font-weight: 200px;
    margin: 20px;
    padding: 0;
    list-style: none;
}
.home{
    font-style: bold;
    font-size: 20px;
    font-weight: 200px;
}
.Sign{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 10px;
    margin-right: 20px;
}
.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 100px 0px 0px 0px ;
    perspective: 2500px;
    margin: 0 50px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    /* -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
    /* -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    }
.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
    }
.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
    }
.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
    }

.card:hover .wrapper::after {
    height: 120px;
    }
.title {
    width: 100%;
    transition: transform 0.5s;
    }
.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
    }

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    }

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
    }
footer{
        display: block;
        bottom:auto;
        padding-bottom: 0px;
        left: 0;
        bottom: 100%;
        width: 100%;
        background: #333;
        color: #fff;
        text-align: center;
        padding: 25px 0;
        margin-top: 170px;
}
    
footer p {
        margin: 10px;
        position: relative;
}